
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" /Content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        Untitled
    </title>
    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="/Content/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/Content/css/Footer-Basic.css">
    <link rel="stylesheet" href="/Content/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/Content/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/Content/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/Content/css/styles.css">
</head>

<body style="background-color: #ffffff;">
    <div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(255,255,255);">
            <div class="container">
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="background-color: #ffffff;height: 18px;width: 1px;padding-right: 14px;padding-left: -37px;padding-bottom: 14px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="color: rgb(255,255,255);background-color: #ffffff;height: 14px;margin-bottom: 25px;margin-right: 0px;width: 15px;margin-top: -2px;margin-left: -7px;padding-bottom: 0px;padding-top: 0px;"></span></button>
                <div class="container text-left" style="width: 253px;"><img class="img-fluid" src="/Content/img/phone_logo-1.jpg" style="width: 220px;"></div>
                <div class="collapse navbar-collapse" id="navcol-1" style="width: 400px;">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: rgb(0,0,0);"><strong>About Us</strong></a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(0,0,0);"><strong>Contact Us</strong></a></li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(0,0,0);"><strong>My Account</strong></a>
                            <div class="dropdown-menu" role="menu" style="background-color: rgb(255,255,255);">
                                <a class="dropdown-item" role="presentation" href="#" style="color: rgb(0,0,0);">Profile</a><a class="dropdown-item" role="presentation" href="#" style="color: rgb(0,0,0);">Cart</a><a class="dropdown-item" role="presentation" href="#"
                                                                                                                                                                                                                        style="color: rgb(0,0,0);">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" style="width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: 100%;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col col-lg-6 col-sm-12 col-12" style="padding-right: 0px;padding-left: 0px;"><img data-bs-hover-animate="pulse" src="/Content/img/HomePageImages/1-scaled.jpg" style="width: 100%;height: 100%;"></div>
            <div class="col col-lg-6 col-sm-12 col-12" style="padding-left: 0px;padding-right: 0px;"><img data-bs-hover-animate="pulse" src="/Content/img/HomePageImages/3-scaled.jpg" style="width: 100%;height: 100%;"></div>
        </div>
    </div>
    <div class="container" style="width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: 100%;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col col-lg-6 col-sm-12 col-12" style="padding-right: 0px;padding-left: 0px;"><img data-bs-hover-animate="pulse" src="/Content/img/HomePageImages/096A6838-1.jpg1_-1-scaled.jpg" style="width: 100%;height: 100%;"></div>
            <div class="col col-lg-6 col-sm-12 col-12" style="padding-left: 0px;padding-right: 0px;"><img data-bs-hover-animate="pulse" src="/Content/img/HomePageImages/096A7022-1-scaled.jpg" style="width: 100%;"></div>
        </div>
    </div>
    <div class="container" style="width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: 100%;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col col-lg-6 col-sm-12 col-12" style="padding-right: 0px;padding-left: 0px;"><img data-bs-hover-animate="pulse" src="/Content/img/HomePageImages/096A6367.jpg" style="width: 100%;height: 100%;"></div>
            <div class="col col-lg-6 col-sm-12 col-12" style="padding-left: 0px;padding-right: 0px;"><img data-bs-hover-animate="pulse" src="/Content/img/HomePageImages/11.jpg" style="width: 100%;height: 100%;"></div>
        </div>
    </div>
    <div class="container" style="width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: 100%;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col" style="padding-right: 0px;padding-left: 0px;"><img src="/Content/img/HomePageImages/096A6704.jpg" style="width: 100%;height: 100%;"></div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Refunds and Cancellation</a></li>
                <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright" style="font-size: 20px;">© 2021 ztinternational.co, &nbsp; &nbsp;All rights reserved</p>
        </footer>
    </div>
    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/js/bs-animation.js"></script>
</body>

</html>
